@charset "utf-8";

body {
  background-color: rgb(38, 50, 56);
  color: rgb(177, 191, 198);
}

a {
  color: rgb(177, 191, 198);
}

.box {
  background: rgb(31, 40, 46);
}

select {
  background-color: rgb(84, 110, 122);
  color: rgb(207, 217, 221);
}

input[type="checkbox"] {
	border: 1px solid rgb(120, 144, 156);
}

input[type="checkbox"]:checked {
  background-color: rgb(84, 110, 122);
  border: 1px solid rgb(84, 110, 122);
}

input[type="checkbox"]:checked:after {
	color: rgb(207, 217, 221);
}

#message-overlay {
  color: rgb(255, 255, 255);
}

#popup {
  background: rgba(144, 164, 173, .8);
  color: black;
}

/** dashboard **/

#feed .wrapper::-webkit-scrollbar-thumb {
  background: rgba(177, 191, 198, .1);
}

#feed .wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(177, 191, 198, .3);
}

#feed .wrapper {
  background: rgb(31, 40, 46);
}

#feed .list li:hover {
  background: rgba(38, 50, 56, 1);
}

.feed-btn {
  background: rgb(31, 40, 46);
}

.button {
  background-color: rgb(84, 110, 122);
  color: rgb(207, 217, 221);
}

.check.disabled {
  background-color: rgb(120, 144, 156);
}
