@charset "utf-8";

/** general **/

#dashboard {
  box-sizing: border-box;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1.1fr 1.1fr 1fr;
  grid-template-rows: 28rem 28rem;
  padding: 0 2rem;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartBox-1 {
  box-sizing: border-box;
  grid-column: 1 / 3;
  grid-row: 1;
  height: 28rem;
}

#chartBox-2 {
  box-sizing: border-box;
  grid-column: 1 / 3;
  grid-row: 2;
  height: 28rem;
}


/** feed **/

#feed {
  box-sizing: border-box;
  display: flex;
  grid-column: 3;
  grid-row: 1 / 2;
  height: 56.5rem;
}


/* navigation */

#feed nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#feed nav li {
  box-sizing: border-box;
  line-height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}

.feed-btn {
  z-index: 10;
  width: 2.5rem;
  transition: all .3s ease;
  opacity: .5;
}

.feed-btn:hover {
  width: 4rem;
  cursor: pointer;
  opacity: .8;
}

.feed-btn.selected {
  opacity: 1;
}

#feed-all:hover {}

#feed-follows:hover {}

#feed-subscriptions:hover {}

#feed-donations:hover {}

#feed-hosts:hover {}

.unfocused {
  opacity: 0.4 !important;
}


/* list */

#feed .wrapper {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
}

#feed .wrapper::-webkit-scrollbar {
  width: .4rem;
}

#feed .wrapper::-webkit-scrollbar-thumb {}

#feed .wrapper::-webkit-scrollbar-thumb:hover {}

#feed .wrapper .list {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  font-size: .9rem;
  margin: 0;
  padding: 0;
}

#feed .wrapper .list li {
  box-sizing: border-box;
  display: block;
  padding: .6rem .7rem;
  transition: all .3s ease;
  cursor: default;
  opacity: 1;
}

#feed .wrapper .list li:hover {}

#feed .wrapper .list .head {
  display: flex;
}

#feed .wrapper .list .type {
  flex: 50;
  font-weight: 700;
  text-transform: uppercase;
}

#feed .wrapper .list .date {
  display: block;
  flex: 50;
  text-align: right;
  font-size: .7rem;
  opacity: .5;
}

#feed .wrapper .list .body {
  margin-top: .2rem;
  opacity: .8;
}

#feed .wrapper .list .amount,
#feed .list .viewers {
  font-weight: 700;
}

#feed .wrapper .list .donation {
  cursor: pointer !important;
}

#feed .wrapper .list .message {
  display: none;
  margin-top: .5rem;
  padding: 0 .3rem;
  font-style: italic;
  font-size: .85rem;
}


/** settings button **/

.settings-btn {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}

.settings-btn:hover {
  opacity: .8;
}
