@charset "utf-8";
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(235, 235, 235, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 27vh;
  color: rgb(253, 253, 253);
  font-weight: 400;
  overflow: hidden;
}

.notification {
  display: none;
}

.default {
  box-sizing: border-box;
  height: 100vh;
  width: 430vh;
  margin: 0 auto;
}

.type, .name, .text, .box, .donation-message {
  box-sizing: border-box;
  width: 100%;
  line-height: 100vh;
}

.text {
  background-color: rgba(0, 0, 0, 0.7);
}

.type, .name, .box, .donation-message {
  position: absolute;
  text-align: center;
  opacity: 0;
}

.type {
  z-index: 10;
  display: block;
}

.name {
  z-index: 20;
  font-weight: 700;
  color: rgb(255, 190, 0);
}

.box {
  z-index: 30;
  font-weight: 700;
}

.donation-currency, .box span {
  margin-left: .5rem;
}

.donation-message {
  z-index: 40;
  font-weight: 600i;
  font-size: 18vh;
}


/** animation **/

@keyframes slideOut {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(1600vh, 0, 0);
  }
}

#follow {
  animation-name: slideOut;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 7.5s;
}

#donation {
  animation-name: slideOut;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 14s;
}

#subscription, #host {
  animation-name: slideOut;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}


/* zoom */

@keyframes zoomIn {
  from {
    opacity: .4;
    transform: scale3d(0, 0, 0);
  }
  to {
    opacity: 1;
  }
}

.text {
  animation-name: zoomIn;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 1.4s;
  animation-fill-mode: both;
}


/* fade */

@keyframes type {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  40% {
    opacity: 1;
    transform: none;
  }
  60% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.type {
  animation-name: type;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: .9s;
}

@keyframes zoomInOut {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    opacity: 1;
    transform: none;
  }
  80% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

#donation .name, #subscription .name, #host .name {
  animation-name: zoomInOut;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

#donation .box {
  font-weight: 600;
  animation-name: zoomInOut;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

@keyframes zoomIn2 {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

#follow .name {
  animation-name: zoomIn2;
  animation-timing-function: cubic-bezier(.94, .01, .53, .86);
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

#subscription .box, #host .box {
  font-weight: 600;
  animation-name: zoomIn2;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

.donation-message {
  font-weight: 600i;
  animation-name: zoomIn2;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 9.5s;
}
