doctype html

html

  include include/head.pug


  body
    main#landingpage
      h1#headline
      a#dashboardBTN(href="/dashboard") Dashboard

    include include/footer.pug
    script.
      $(function(){
            $("#headline").typed({
                strings: ["Welcome to the<br> ^800 <span>Broadcast Notification System!</span>"],
                typeSpeed: 30,
                showCursor: false
            });
        });
