doctype html

html(lang="en")

  head
    title= pageTitle
    link(href="ressources/css/main.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet")
    link(href="ressources/css/process.css", rel="stylesheet")

  body
    .sk-folding-cube
      .sk-cube1.sk-cube
      .sk-cube2.sk-cube
      .sk-cube4.sk-cube
      .sk-cube3.sk-cube
    #text please wait...
