doctype html

html(lang="en")
  include include/head.pug

  body
    #popup

    include include/header.pug

    main
      #settings

        #api.box
          .head API
          ul
            li
              if data.settings.api.twitch.auth.token
                if data.settings.api.twitch.enabled
                  a#api-twitch.check.button(style="cursor:pointer;") Twitch
                else
                  a#api-twitch.check.button.disabled(style="cursor:pointer;") Twitch
              else
                a#api-twitch.check.button.noEvent(href="/api/twitch/auth") Twitch
            li
              if data.settings.api.youtube.enabled
                a#api-youtube.check.button(style="cursor:not-allowed;" title="Not implemented yet!") YouTube
              else
                a#api-youtube.check.button.disabled.noEvent(style="cursor:not-allowed;" onclick="alert('Sorry, has not yet been implemented!');" title="Not implemented yet!") YouTube
            li
              if data.settings.api.streamlabs.auth.token
                if data.settings.api.streamlabs.enabled
                  a#api-streamlabs.check.button(style="cursor:pointer;") Streamlabs
                else
                  a#api-streamlabs.check.button.disabled(style="cursor:pointer;") Streamlabs
              else
                a#api-streamlabs.check.button.noEvent(href="/api/streamlabs/auth") Streamlabs
            li
              if data.settings.api.youtube.enabled
                a#api-tipeee.check.button(style="cursor:not-allowed;" title="Not implemented yet!") TipeeeStream
              else
                a#api-tipeee.check.button.disabled.noEvent(style="cursor:not-allowed;" onclick="alert('Sorry, has not yet been implemented!');" title="Not implemented yet!") TipeeeStream


        #notifications.box
          .head Notifications
          ul
            li
              if data.settings.notification.types.follows
                a#notification-follows.check.button(style="cursor:pointer;"  title="Follows enabled") Follows
              else
                a#notification-follows.check.button.disabled(style="cursor:pointer;"  title="Follows disabledd") Follows
            li
              if data.settings.notification.types.subscriptions
                a#notification-subscriptions.check.button(style="cursor:pointer;" title="Subscriptions enabled") Subscriptions
              else
                a#notification-subscriptions.check.button.disabled(style="cursor:pointer;"  title="Subscriptions disabledd") Subscriptions
            li
              if data.settings.notification.types.hosts
                a#notification-hosts.check.button(style="cursor:pointer;" title="Hosts enabled") Hosts
              else
                a#notification-hosts.check.button.disabled(style="cursor:pointer;" title="Hosts disabledd") Hosts
            li
              if data.settings.notification.types.donations
                a#notification-donations.check.button(style="cursor:pointer;" title="Donations enabled") Donations
              else
                a#notification-donations.check.button.disabled(style="cursor:pointer;" title="Donations disabledd") Donations


        #template.box
          .head Template
          div
            select(id ="template-selection" name="templates")
              each template in data.settings.notification.template.list
                if template == data.settings.notification.template.selected
                  option(value= template selected)= template
                else
                  option(value= template)= template

          a#template-search.button(style="cursor:pointer;" title="Search for templates in directory") Search
          a#devButton.button Developer options

          #devWindow
            .inner.button
              .head Developer options

              .col-1
                .label Duration
                input(id="notification-duration" type="number" name="duration" value= data.settings.notification.duration title="The time in milliseconds until the next notification")

              .col-2

              .bottom
                .closeButton.button Close


        #misc.box
          .head Misc
          .inner
            .col-1
              #notificationTest
                .title Notification test
                select(name="notification")
                  option(value="follow") Follow
                  option(value="subscription") Subscription
                  option(value="host") Host
                  option(value="donation") Donation
                #push.button Push

            .col-2
              ul
                li
                  a#cleanupQueue.button(title="Clears the current notification queue") Clear queue

            .col-3
              ul
                li#notificationToggle(title="Notification switch (global)")
                  if data.settings.notification.enabled
                    input(type="checkbox" checked)
                  else
                    input(type="checkbox")
                  span(title="Notification switch (global)") Notifications

                li#popupsToggle(title="Switch for notifications on dashboard")
                  if data.settings.dashboard.popups
                    input(type="checkbox" checked)
                  else
                    input(type="checkbox")
                  span(title="Switch for notifications on dashboard") Dashboard popups

                li
                  input(type="checkbox")
                  span Placeholder

    include include/footer.pug
