doctype html

html(lang="en")
  include include/head.pug

  body
    #popup

    include include/header.pug

    main
      #settings

        #api.box
          .head API
          ul
            li
              if data.settings.api.twitch.auth.token
                if data.settings.api.twitch.enabled
                  a#api-twitch.check.border.border.enabled(style="cursor:pointer;") Twitch
                else
                  a#api-twitch.check.border(style="cursor:pointer;") Twitch
              else
                a#api-twitch.check.border(href="/twitch/auth") Twitch
            li
              if data.settings.api.youtube.enabled
                a#api-youtube.check.border.enabled(style="cursor:not-allowed;" title="Not implemented yet!") YouTube
              else
                a#api-youtube.check.border(style="cursor:not-allowed;" onclick="alert('Sorry, has not yet been implemented!');" title="Not implemented yet!") YouTube
            li
              if data.settings.api.streamlabs.auth.token
                if data.settings.api.streamlabs.enabled
                  a#api-streamlabs.check.border.enabled(style="cursor:pointer;") Streamlabs
                else
                  a#api-streamlabs.check.border(style="cursor:pointer;") Streamlabs
              else
                a#api-streamlabs.check.border(href="/streamlabs/auth") Streamlabs
            li
              if data.settings.api.youtube.enabled
                a#api-tipeee.check.border.enabled(style="cursor:not-allowed;" title="Not implemented yet!") TipeeeStream
              else
                a#api-tipeee.check.border(style="cursor:not-allowed;" onclick="alert('Sorry, has not yet been implemented!');" title="Not implemented yet!") TipeeeStream


        #notifications.box
          .head Notifications
          ul
            li
              if data.settings.notification.types.follows
                a#notification-follows.check.border.enabled(style="cursor:pointer;"  title="Follows on/off") Follows
              else
                a#notification-follows.check.border(style="cursor:pointer;"  title="Follows on/off") Follows
            li
              if data.settings.notification.types.subscriptions
                a#notification-subscriptions.check.border.enabled(style="cursor:pointer;" title="Subscriptions on/off") Subscriptions
              else
                a#notification-subscriptions.check.border(style="cursor:pointer;"  title="Subscriptions on/off") Subscriptions
            li
              if data.settings.notification.types.hosts
                a#notification-hosts.check.border.enabled(style="cursor:pointer;" title="Hosts on/off") Hosts
              else
                a#notification-hosts.check.border(style="cursor:pointer;" title="Hosts on/off") Hosts
            li
              if data.settings.notification.types.donations
                a#notification-donations.check.border.enabled(style="cursor:pointer;" title="Donations on/off") Donations
              else
                a#notification-donations.check.border(style="cursor:pointer;" title="Donations on/off") Donations


        #template.box
          .head Template
          div
            select(id ="template-selection" name="templates")
              each template in data.settings.notification.template.list
                if template == data.settings.notification.template.selected
                  option(value= template selected)= template
                else
                  option(value= template)= template

          a#template-search.button.border(style="cursor:pointer;" title="Search for templates in directory") Search
          a#devButton.button.border Developer options

          #devWindow
            .inner.border
              .head Developer options

              .col-1
                .label Duration
                input(id="notification-duration" type="number" name="duration" value= data.settings.notification.duration title="The time in milliseconds until the next notification")

              .col-2

              .bottom
                .closeButton.border Close


        #misc.box
          .head Misc
          .inner
            .col-1
              #notificationTest
                .title Notification test
                select(name="notification")
                  option(value="follow") Follow
                  option(value="subscription") Subscription
                  option(value="host") Host
                  option(value="donation") Donation
                #push.border Push

            .col-2
              ul
                li
                  a#clearQueue.button.border(title="Clears the current notification queue") Clear queue

            .col-3
              ul
                li(title="Notification switch (global)")
                  .switch#notificationToggle
                    label.switch
                      if data.settings.notification.enabled
                        input(type="checkbox" checked)
                      else
                        input(type="checkbox")
                      .slider.border
                  span(title="Notification switch (global)") Notifications

                li(title="Switch for notifications on dashboard")
                  .switch#popupsToggle
                    label.switch
                      if data.settings.dashboard.popups
                        input(type="checkbox" checked)
                      else
                        input(type="checkbox")
                      .slider.border
                  span(title="Switch for notifications on dashboard") Dashboard popups

                li
                  .switch
                    label.switch
                      input(type="checkbox")
                      .slider.border
                  span Placeholder

    include include/footer.pug
