doctype html

html

  include include/head.pug
  link(href="ressources/css/wait.css", rel="stylesheet")

  body
    .sk-folding-cube
      .sk-cube1.sk-cube
      .sk-cube2.sk-cube
      .sk-cube4.sk-cube
      .sk-cube3.sk-cube
    #text please wait...

    script(src='/socket.io.min.js')
    script(src="ressources/js/wait.js")
