@charset "utf-8";
@font-face {
    font-family: 'Futura';
    src: url("/template/ressources/fonts/futura_light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Futura';
    src: url("/template/ressources/fonts/futura_book.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(235, 235, 235, 0); /* Don't touch! */
    font-family: 'Futura';
    font-size: 1rem !important;
    color: rgb(253, 253, 253);
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Text Schatten */
    overflow: hidden;
}

.notification {
    display: none;
}

/* Komplette Box */
.default {
    box-sizing: border-box;
    height: 6.5rem; /* Höhe */
    width: 30.5rem; /* Breite */
    margin: 0 auto;
}

#donation {}

/* Linke Box (Logo) */
.default .img {
    position: relative;
    box-sizing: border-box;
    height: 6.5rem; /* Höhe */
    width: 6.5rem; /* Breite */
    background: url("/template/ressources/img/mashed8_logo_3_transparent2.png");
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: center;
}

/* Rechte Box (Text) */
.default .text {
    box-sizing: border-box;
    line-height: 6.5rem; /* Höhe */
    width: 24rem; /* Breite */
    background-color: rgba(0, 0, 0, 0.7);
}

.default .type, .default .name {
    padding-left: -2px;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 24rem; /* Breite !!!MUSS mit ".default .text" überinstimmen!!! */
    line-height: 6.5rem; /* Höhe !!!MUSS mit ".default .text" überinstimmen!!! */
    font-size: 2rem !important; /* Schriftgrößte rechte Box */
    opacity: 0;
}

.default .type {
    z-index: 10;
    display: block;
}

.default .name {
    z-index: 20;
    font-weight: bold;
    color: rgb(0, 163, 255);
}


/** animation **/

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(1600px, 0, 0);
    }
}

.default {
    animation-name: slideOut;
    animation-timing-function: cubic-bezier(.94, .01, .53, .86);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 8.8s;
}


/* zoom */

@keyframes img {
    from {
        opacity: .4;
        transform: scale3d(0, 0, 0);
    }
    80% {
        opacity: 1;
    }
}

.default .img {
    animation-name: img;
    animation-timing-function: cubic-bezier(.94, .01, .53, .86);
    animation-duration: .8s;
    animation-fill-mode: forwards;
}


/* expand */

@keyframes text {
    from {
        width: 0;
    }
    10% {
        width: 24rem;
    }
    90% {
        width: 24rem;
    }
    to {
        width: 0;
    }
}

.default .text {
    animation-name: text;
    animation-timing-function: cubic-bezier(.94, .01, .53, .86);
    animation-duration: 7.8s;
    animation-fill-mode: both;
    animation-delay: 1s;
}


/* fade */

@keyframes type {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    40% {
        opacity: 1;
        transform: none;
    }
    60% {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.default .type {
    animation-name: type;
    animation-timing-function: cubic-bezier(.94, .01, .53, .86);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.04s;
}

@keyframes name {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        opacity: 1;
        transform: none;
    }
    80% {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.default .name {
    animation-name: name;
    animation-timing-function: cubic-bezier(.94, .01, .53, .86);
    animation-duration: 6.33s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}
