head
  title Notification window
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700", rel="stylesheet")
  link(href="/notification/ressources/css/notification.css", rel="stylesheet")
