doctype html

html
    
    head
        title="No access"
        link(href="/authentication/ressources/css/style.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet")
    
    body
        
        main
            
            #s40x
