doctype html

html(lang="en")
  
  include includes/head.pug

  body  
  
    #donation.notification.default
      .text
        .type New Donation
        .name
        .box
          span.donation-amount
          span.donation-currency
        .donation-message

  include ../includes/template.pug
