doctype html

html(lang="en")
  
  include includes/head.pug

  body
    
    #follow.follow.notification.default
      .text
        .type New Follower
        .name

  include ../includes/template.pug
