doctype html

html(lang="en")
  
  include includes/head.pug

  body
    
    #host.notification.default
      .text
        .type New Host
        .name
        .box
          span.host-views
          span viewer

  include ../includes/template.pug
