doctype html

html(lang="en")
  
  include includes/head.pug

  body
    #follow.follow.notification.default
      .text
        .type New Follower
        .name

    #subscription.subscription.notification.default
      .text
        .type New Sub
        .name
        .box
          span.subscription-count
          span months
    
    #host.host.notification.default
      .text
        .type New Host
        .name
        .box
          span.host-views
          span viewer
    
    #donation.donation.notification.default
      .text
        .type New Donation
        .name
        .box
          span.donation-amount
          span.donation-currency
        .donation-message

  include ../includes/template.pug
