doctype html

html(lang="en")
  
  include includes/head.pug

  body

    #subscription.subscription.notification.default
      .text
        .type New Sub
        .name
        .box
          span.subscription-count
          span months

  include ../includes/template.pug
