//- required template scripts
script.
  var version = '#{version}';

  //# host
  var hostType = #{server.type},
      host = '';

  if (hostType == 1) {
    var host = '#{server.host}' + ':#{server.port}';
  }

script(src='/jquery.min.js?v=' + version)
script(src='/socket.io.min.js?v=' + version)
script
    include ./required.js
