doctype html

html(lang="en")
    head
        title Notification window
        link(href="/template/ressources/css/notification.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700,900", rel="stylesheet")
        include ../.include/required.pug

    body
      #default
        #text
          #type
          #name

      #donations
        #text
          #type
          #name
          #amount
          #message
