footer
  p BNS v#{version} coded by&nbsp;
    a(href="https://github.com/Morphy2k" target="_blank") Morphy

script(src='/jquery.min.js?v=' + version)
script(src='/socket.io.min.js?v=' + version)
script(src="ressources/js/com.js?v=" + version)
script(src="ressources/js/moment-with-locales.min.js?v=" + version)
if pageTitle == 'Dashboard'
  script(src="ressources/js/Chart.min.js?v=" + version)
  script(src="ressources/js/chartConfig.js?v=" + version)

if pageTitle == 'Landingpage'
  script(src="ressources/js/typed.min.js")
